.slider { margin:0; padding:0;}
.coin-slider { overflow:hidden; zoom:1; position:relative;}
.coin-slider a{ text-decoration:none; outline:none; border:none;}

.cs-buttons { font-size:0px; margin:-30px 0px 0px 0px; padding:10px; float:left;position:relative;z-index:1000;}
.cs-buttons a { margin-left:2px; width:20px; height:20px; float:left; background:url(../images/slide_p.png) no-repeat left top; color:#fff; text-indent:-1000px;}
.cs-buttons a.cs-active { background:url(../images/slide_a.png) no-repeat left top; color:#fff;}

.cs-title { float:left; width:640px; padding:20px 40px 12px; background:url(../images/overlay.png) repeat left top; color:#fff; font-size:24px; line-height:1em;}
.cs-title small { font-size:12px; line-height:1.8em;}

.cs-prev, 
.cs-next { background:none; color:transparent ; padding:0px 10px;}
